body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    transform: scale(0.8);
            transform-origin: top left;
            width: 125%; /* 1 / 0.8 = 125% */
}

header {
    background-color: #012D5A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

section {
    padding: 40px 20px;
    max-width: 1400px;
    margin: auto;
}

h2 {
    font-size: 2em;
    color: #012D5A;
    margin-bottom: 20px;
}

.room {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    vertical-align: top;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room img {
    width: 100%;
    border-radius: 10px;
}

.room h3 {
    color: #012D5A;
    margin: 15px 0 10px;
    font-size: 1.5em;
}

.room p {
    font-size: 1em;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    background-color: #012D5A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.navbar
{
    display:flex;
    
    background-color: #ceddeb;
    justify-self: end;
   
 
  

}
.navbar span{
    text-decoration: none;
    color:#2f2f2f;
    padding: 3px 3px;
   margin-left: 50px;
   margin-right: 50px;
   font-weight: 300;
   
   padding: 2px;
  

    
    

}
#amb
{
    margin-left: 30px;
    size: 30px;
    box-shadow: 2px 5px 20px 3px rgb(150, 2, 2);
    border-radius: 50px;
    font-size: 40px;
    color: rgb(241, 31, 31);
    
    
}

#head
{
    padding: 10px;
}


.navbar2 {
    display: flex;               
    justify-content: space-evenly;
    align-items: center;           
     background-color: #012D5A;       
    padding: 10px; 
                  
}

.nav-link {
    flex: 1;                    
    text-align: center;            
              
    background-color:#3882cd;        
    border-radius: 5px;            
    margin: 0 10px;               
    transition: background-color 0.3s;              

}
.nav-link:hover
{
    background-color: #0355a8;
}

.nav-link a {
    display: block;               
    color: #fff;                   
    text-decoration: none;         
    padding: 10px; 
    font-weight: 500;                
}

.resha
{
    color: white;
}

.navbar3
{
    display: flex;               
    justify-content: space-evenly;
    align-items: center;           
     background-color: #e1dede;       
    padding: 10px;  
    height: 50px; 
    border: 0.2px solid black;
    font-size: medium;
    position: sticky;
   z-index: 1;
top: 0;

    
}

.navopt
{
    flex: 1;                    
    text-align: center;            
    height: 70px; 
    margin: 0 10px;               
    transition: background-color 0.3s; 
     

}

.navopt a{
    display: block;               
    color: #2f2f2f;                   
    text-decoration: none;         
    padding: 15px;  
    font-weight: 500; 
    margin-top: 4px;

}
.navopt :hover
{
    background-color: #EFEFEF;
    margin: 0;
    height: 40px;

    
}


.resha1
{
    color: black;
}

.navopt-active
{
    background-color: #EFEFEF;
  
    box-shadow: #3882cd;
    flex: 1;                    
    text-align: center;            
    height: 70px; 
    margin: 0 10px;               
    transition: background-color 0.3s;  
}

.navopt-active a{
    text-decoration: none;
    color: #2f2f2f;
    display: block;
    padding: 10px;  
    margin-top: 4px;
   
}

.link
{
    text-decoration: none;
    color: #2f2f2f;
}